/* Main CSS file */
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(10deg,#A19EFF 10%, #C6ECF8 80%);
}

h1 {
  font-size: 2.7rem;
  font-weight: 600;
  color: #674EE6;
  margin-top: -4px;
}

a {
  cursor: pointer;
}

/* Form Stylings */

.box {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: lightblue;
  height: 29em;
  width: 25em;
  padding: 35px;
  background: linear-gradient(175deg, white 22%, #674EE6 22.1%);
  box-shadow: 0px 0px 60px -30px;
}

form {
  margin-top: 1.6em;
  display: flex;
  flex-direction: column;
}

.inputs {
  color: white;
  display: flex;
  flex-direction: column;
}

.input-main {
  position: relative;
  margin-top: 6px;
  border: none;
  border-radius: 5px;
  height: 3em;
}

input {
  font-size: .9rem;
  padding: 2px 1em 2px 1em;
}

.input-invalid {
  position: relative;
  margin-top: 6px;
  border: .5px solid #FF0200;
  box-shadow: inset 0px 0px 4px 1px #FF0200;
  background-color: #FFE5E5;
  border-radius: 5px;
  height: 3em;
}

label {
  font-size: .9rem;
  font-weight: 500;
}

span {
  font-size: .8rem;
}

.password-block {
margin-top: 2em;
display: flex;
flex-direction: row;
justify-content: space-between;
}

/* Icon Styles */

.error-icon-show {
  width: 2em;
  height: 2em;
  background: none;
  background-image: "..assets/danger-circle-icon.svg";
  background-size: 1.6em;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-top: -39px;
  margin-left: 90%;
}

.error-icon-hide {
  width: 2em;
  height: 2em;
  background: none;
  background-size: 1.6em;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-top: -39px;
  margin-left: 90%;
}

.eye-icon-show {
  width: 2em;
  height: 2em;
  background: none;
  background-image: "..assets/eye-show-icon.svg";
  background-size: 1.6em;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-top: -39px;
  margin-left: 90%;
}

.eye-icon-hide {
  width: 2em;
  height: 2em;
  background: none;
  background-image: "..assets/eye-hide-icon.svg";
  background-size: 1.6em;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-top: -39px;
  margin-left: 90%;
}



.checkbox-block {
  display: flex;
  align-items: center;
  margin-top: 1.6em;
  margin-left: -.4em;
  margin-bottom: 2.2em;
}

.checkbox {
  width: 1.4em;
  height: 1.4em;
  background-color: white;
  border-radius: 6px;
  margin-left: .4em;
}

.checkbox-block span {
    font-size: .9rem;
    margin-left: .6em;
}

.submit-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  height: 3.8em;
  width: 19em;
  color: #674EE6;
  font-size: .9rem;
  background-color: white;
  border: none;
  border-radius: 30px;
  margin-bottom: 1em;
  transition: .2s;
}

.submit:hover {
  transform: scale(1.05) translate(0, 2px);
}

.submit-block p {
  font-size: .9rem;
}
